workflows/referral_intake.json
{
  "name": "Envico CareOS — Referral Intake",
  "active": false,
  "id": "envico-referral-intake-001",
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },

  "nodes": [

    {
      "id": "a1000001-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "envico-referral-intake-v1",
      "parameters": {
        "httpMethod": "POST",
        "path": "referral-intake",
        "responseMode": "responseNode",
        "options": {}
      }
    },

    {
      "id": "a1000001-0000-0000-0000-000000000002",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [480, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-001",
              "name": "service_user_name",
              "value": "={{ $json.service_user_name }}",
              "type": "string"
            },
            {
              "id": "set-002",
              "name": "dob",
              "value": "={{ $json.dob }}",
              "type": "string"
            },
            {
              "id": "set-003",
              "name": "referral_source",
              "value": "={{ $json.referral_source }}",
              "type": "string"
            },
            {
              "id": "set-004",
              "name": "referrer_name",
              "value": "={{ $json.referrer_name }}",
              "type": "string"
            },
            {
              "id": "set-005",
              "name": "referrer_contact",
              "value": "={{ $json.referrer_contact }}",
              "type": "string"
            },
            {
              "id": "set-006",
              "name": "support_needs",
              "value": "={{ $json.support_needs }}",
              "type": "string"
            },
            {
              "id": "set-007",
              "name": "urgency_level",
              "value": "={{ $json.urgency_level }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "a1000001-0000-0000-0000-000000000003",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-service-user-name",
              "leftValue": "={{ $json.service_user_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cond-referral-source",
              "leftValue": "={{ $json.referral_source }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },

    {
      "id": "a1000001-0000-0000-0000-000000000004",
      "name": "Error — Missing Required Fields",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Missing required fields', required: ['service_user_name', 'referral_source'], received: { service_user_name: $json.service_user_name || null, referral_source: $json.referral_source || null } }) }}",
        "options": {
          "responseCode": 400
        }
      }
    },

    {
      "id": "a1000001-0000-0000-0000-000000000005",
      "name": "Generate Referral ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "// Format: ENV-REF-{YEAR}-{RANDOM6}\n// Charset excludes ambiguous characters: O, 0, I, 1\nconst data = $input.first().json;\n\nconst year  = new Date().getFullYear();\nconst chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\nlet rand6   = '';\nfor (let i = 0; i < 6; i++) {\n  rand6 += chars[Math.floor(Math.random() * chars.length)];\n}\n\nreturn [{\n  json: {\n    ...data,\n    referral_id : `ENV-REF-${year}-${rand6}`\n  }\n}];"
      }
    },

    {
      "id": "a1000001-0000-0000-0000-000000000006",
      "name": "Insert Referral",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1200, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_CREDENTIAL_ID",
          "name": "Envico PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO referrals (\n  referral_id,\n  service_user_name,\n  dob,\n  referral_source,\n  referrer_name,\n  referrer_contact,\n  support_needs,\n  urgency_level,\n  status,\n  created_at\n) VALUES (\n  '{{$json.referral_id}}',\n  '{{$json.service_user_name}}',\n  NULLIF('{{$json.dob}}', '')::DATE,\n  '{{$json.referral_source}}',\n  NULLIF('{{$json.referrer_name}}', ''),\n  NULLIF('{{$json.referrer_contact}}', ''),\n  NULLIF('{{$json.support_needs}}', ''),\n  '{{$json.urgency_level}}',\n  'NEW',\n  NOW()\n)\nRETURNING id, referral_id;",
        "options": {}
      }
    },

    {
      "id": "a1000001-0000-0000-0000-000000000007",
      "name": "Create Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1440, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_CREDENTIAL_ID",
          "name": "Envico PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tasks (\n  title,\n  entity_type,\n  entity_id,\n  priority,\n  status,\n  created_at\n) VALUES (\n  'Review new referral — {{ $('Generate Referral ID').item.json.referral_id }}',\n  'referral',\n  '{{$json.id}}',\n  'medium',\n  'OPEN',\n  NOW()\n)\nRETURNING id;",
        "options": {}
      }
    },

    {
      "id": "a1000001-0000-0000-0000-000000000008",
      "name": "Create Notification",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1680, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_CREDENTIAL_ID",
          "name": "Envico PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notifications (\n  recipient_id,\n  title,\n  body,\n  notification_type,\n  entity_type,\n  entity_id,\n  channel,\n  is_read,\n  status,\n  created_at\n)\nSELECT\n  u.id,\n  'New referral received',\n  'New referral received for {{ $('Generate Referral ID').item.json.service_user_name }} — ref: {{ $('Generate Referral ID').item.json.referral_id }}',\n  'REFERRAL',\n  'referral',\n  '{{ $('Insert Referral').item.json.id }}',\n  'in_app',\n  false,\n  'pending',\n  NOW()\nFROM users u\nWHERE u.role IN ('manager', 'admin')\n  AND u.is_active = true\nRETURNING id;",
        "options": {}
      }
    },

    {
      "id": "a1000001-0000-0000-0000-000000000009",
      "name": "Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1920, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_CREDENTIAL_ID",
          "name": "Envico PostgreSQL"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_logs (\n  action,\n  entity_type,\n  entity_id,\n  new_values,\n  created_at\n) VALUES (\n  'REFERRAL_CREATED',\n  'referral',\n  '{{ $('Insert Referral').item.json.id }}',\n  jsonb_build_object(\n    'referral_id',    '{{ $('Generate Referral ID').item.json.referral_id }}',\n    'client',         '{{ $('Generate Referral ID').item.json.service_user_name }}',\n    'source',         '{{ $('Generate Referral ID').item.json.referral_source }}',\n    'urgency',        '{{ $('Generate Referral ID').item.json.urgency_level }}',\n    'status',         'NEW'\n  ),\n  NOW()\n)\nRETURNING id;",
        "options": {}
      }
    },

    {
      "id": "a1000001-0000-0000-0000-000000000010",
      "name": "Respond — Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2160, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', referral_id: $('Generate Referral ID').item.json.referral_id }) }}",
        "options": {
          "responseCode": 201
        }
      }
    }

  ],

  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Set Fields", "type": "main", "index": 0 }]
      ]
    },
    "Set Fields": {
      "main": [
        [{ "node": "Validate Required Fields", "type": "main", "index": 0 }]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [{ "node": "Generate Referral ID",          "type": "main", "index": 0 }],
        [{ "node": "Error — Missing Required Fields","type": "main", "index": 0 }]
      ]
    },
    "Generate Referral ID": {
      "main": [
        [{ "node": "Insert Referral", "type": "main", "index": 0 }]
      ]
    },
    "Insert Referral": {
      "main": [
        [{ "node": "Create Task", "type": "main", "index": 0 }]
      ]
    },
    "Create Task": {
      "main": [
        [{ "node": "Create Notification", "type": "main", "index": 0 }]
      ]
    },
    "Create Notification": {
      "main": [
        [{ "node": "Audit Log", "type": "main", "index": 0 }]
      ]
    },
    "Audit Log": {
      "main": [
        [{ "node": "Respond — Success", "type": "main", "index": 0 }]
      ]
    }
  }
}
